@font-face {
    font-family: "Neue Kabel Extrabold";
    src: url("../fonts/neue_kabel_extrabold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Neue Kabel Extrabold", sans-serif !important;
}

body,
a {
    font-family: "Montserrat", serif !important;
}

.select2-container--default
    .select2-selection--single
    .select2-selection__arrow
    b {
    border-color: #000 !important;
}

.inflanar-header__button.h-with-lang-switch i {
    color: #000;
}

.inflanar-header__button.h-with-lang-switch
    .inflanar-header__lang
    .select2-selection.select2-selection--single
    span
    b {
    border-right-color: #000 !important;
    border-bottom-color: #000 !important;
}

.h-with-lang-switch .inflanar-header__lang {
    background: #ffd3ac40 !important;
}

.custom-message-icon img {
    filter: invert(1);
}

.inflanar-hero__title span {
    color: var(--theme-primary);
}

.inflanar-ptags__list a:hover {
    background-color: var(--theme-primary) !important;
    color: #000;
}

/* offcanvas menu  */
[data-bs-target="#offcanvas-modal"],
.offcanvas-toggler:hover,
[data-bs-dismiss="modal"].btn-close {
    background: var(--theme-primary) !important;
}

[data-bs-dismiss="modal"].btn-close i {
    color: #000;
}

[data-bs-target="#offcanvas-modal"] .line {
    background-color: #000;
}

.offcanvas-logo img {
    max-width: 40px !important;
    width: 40px !important;
    object-fit: contain;
}

#offcanvas-menu::before {
    background-color: transparent;
}

/* form input  */

input[type="checkbox"]:checked,
.price-filter .ui-slider-range {
    background-color: var(--theme-primary);
}

.inflanar-btn--search img {
    filter: invert(1);
}

.inflanar-search-form__service .inflanar-search-form__form {
    border: 1px solid #eaeaea;
    background: white;
}

.inflanar-service__price,
.inflanar-service:hover .inflanar-service__price {
    color: #000;
}

.inflanar-service:hover .inflanar-service__title a {
    color: var(--theme-primary);
}

.pack-action-btn.highlighted-btn {
    background-color: var(--theme-primary);
    color: #000;
}

.pack-action-btn:hover {
    color: #000 !important;
}

.pack-feature svg path,
.price-header-wrapper svg path {
    fill: var(--theme-primary);
}

.pack-name {
    color: #000;
}

/* breadcrumb */
.inflanar-breadcrumb__inner li.active a {
    color: #000;
}

.inflanar-sidebar__category a:hover {
    color: var(--theme-primary) !important;
}

.inflanar-pagination ul li a {
    border-color: var(--theme-primary) !important;
}

.inflanar-pagination ul li a:hover,
.inflanar-pagination ul li.active a {
    background: var(--theme-primary);
    color: #000 !important;
    border-color: transparent !important;
}

.inflanar-pagination__button i {
    color: #000;
}

.inflanar-influencer:hover .inflanar-influencer__title a {
    color: #000;
}

/* login  */
.inflanar-signin__options .list-group-item.active,
.inflanar-signin__options .list-group-item:hover {
    background: var(--theme-primary) !important;
    border-color: transparent !important;
    color: #000 !important;
}

.inflanar-signin__options a {
    border: 1px solid var(--theme-primary) !important;
}

.inflanar-form-input input:hover,
.inflanar-form-input input:focus,
.inflanar-form-input textarea:hover,
.inflanar-form-input textarea:focus,
.select2-container .select2-selection--single:hover,
.select2-container .select2-selection--single:focus {
    border-color: var(--theme-primary) !important;
}

a,
.inflanar-signin__check-inline label a {
    color: #000;
}

a:hover,
.inflanar-signin__check-inline label a:hover {
    color: var(--theme-primary) !important;
}

/* header  */

#active-sticky.is-sticky .inflanar-header__middle {
    box-shadow: none !important;
}

/* search css  */

.home-search .select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple {
    border: none !important;
}

@media (max-width: 767px) {
    .home-search .select2-container--default .select2-selection--single,
    .select2-container--default .select2-selection--multiple {
        padding: 0 !important;
    }
}

.select2-container .select2-search--inline .select2-search__field {
    height: 22px !important;
}

.select2-container--default
    .select2-selection--multiple
    .select2-selection__choice {
    background-color: #fdd3ae !important;
    border: none !important;
    border-radius: 5px !important;
}

.select2-selection__rendered li button {
    border: none !important;
    color: black !important;
}

.select2-container--open .select2-dropdown--below,
.select2-container--open .select2-dropdown--above {
    border-radius: 12px;
    overflow: hidden;
}

/* faq  */

.collapse {
    visibility: unset !important;
}

body {
    font-family: agrandir-regular;
}

.profile-tab-btn.active {
    background-color: var(--theme-primary);
    color: #000;
}

.influencers-sidebar__tag li a:hover {
    color: #000 !important;
    background-color: var(--theme-primary);
}

.forgot-pass {
    color: var(--theme-primary) !important;
}

.inflanar-btn[type="submit"] {
    background-color: var(--theme-primary);
    color: #000;
}

@media (max-width: 768px) {
    .footer-cta__inner {
        flex-direction: column;
        padding: 0 20px;
    }
}

.inflanar-header {
    background-color: white;
}

.pack-content li {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.8;
}

.pack-content ul li::before {
    content: "\f00c"; /* FontAwesome checkmark */
    font-family: "Font Awesome 6 Free"; /* Ensure correct FontAwesome version */
    font-weight: 900; /* Needed for solid icons */
    color: var(--theme-primary); /* Change color */
    display: inline-block;
    width: 1em; /* Adjust spacing */
    margin-right: 8px;
}

.non-features ul li::before {
    content: "\f00d"; /* FontAwesome 'times' (cross) icon */
    font-family: "Font Awesome 6 Free"; /* Ensure correct FontAwesome version */
    font-weight: 700; /* Needed for solid icons */
    color: #d5d5d5; /* Change to your desired color */
    display: inline-block;
    margin-right: 8px;
}

.non-features ul li {
    text-decoration: line-through;
    color: #d5d5d5;
}

.pack-content {
    padding: 40px;
}

.pricing-tab.active {
    background-color: var(--theme-primary) !important;
    color: black !important;
}

.pricing-tab {
    color: black !important;
    border: 1px solid var(--theme-primary) !important;
}
